<div id="start-component">
    <div class="col-12 p-0 flex justify-content-center">
        <span class="p-input-icon-right w-full input-search">
            <i class="pi pi-search"></i>
            <input type="text" placeholder="O que você esta procurando?" pInputText>
        </span>
    </div>
    <div class="col-12 p-0 mt-4 pl-3 pr-3 flex flex-column">
        <span class="text-about">Nosso</span>
        <span class="text-about">Ensino</span>
        <span class="text-about-explain">A Microsoft Play, visa agregar e inovar o ensino a distância,
            permitindo fácil acesso à informação e engajamento entre o corpo discente e docente.</span>
    </div>

    <div class="col-12 p-0">
        <img src="assets/layout/images/hackathon/start-picture.PNG" class="start-picture">
        <img src="assets/layout/images/hackathon/little-girl.svg" class="start-picture">
    </div>
    <div class="content-our-study">
        <div class="col-12 pr-3 pl-3 pt-5 pb-5 flex flex-column">
            <span class="text-title-our-study">Como funciona o nosso estudo</span>
            <span class="text-explain-our-study">
                Através de nossa solução multiplataforma promovemos acesso fácil e transparente às informações, visando o melhor consumo de dados para atingir o público de todas as classes.
                Facilitar e elevar o nível de aprendizagem dos alunos tornando-a, assim, mais orgânica.
                Dinamismo Extenso acervo de vídeos, áudios de forma atualizada e estruturada por seguimento, e multiplataforma.
                Assim temos uma educação de qualidade, padronizada, e com todas as melhores técnicas de ensino e aprendizagem conhecidas, e sem haver diferença do tipo e qualidade do ensino por região
            </span>
        </div>
    </div>

</div>