<div id="start-component">
    <div class="col-12 p-0 flex justify-content-center">
        <span class="p-input-icon-right w-full input-search">
            <i class="pi pi-search"></i>
            <input type="text" placeholder="O que você esta procurando?" pInputText>
        </span>
    </div>
    <div class="col-12 p-0 mt-4 pl-3 pr-3 flex flex-column">
        <span class="text-about">Nosso</span>
        <span class="text-about">Ensino</span>
        <span class="text-about-explain">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
            sed diam nonumy eirmodtempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.’</span>
    </div>

    <div class="col-12 p-0">
        <img src="assets/layout/images/hackathon/start-picture.PNG" class="start-picture">
        <img src="assets/layout/images/hackathon/little-girl.svg" class="start-picture">
    </div>
    <div class="content-our-study">
        <div class="col-12 pr-3 pl-3 pt-5 pb-5 flex flex-column">
            <span class="text-title-our-study">Como funciona o nosso estudo</span>
            <span class="text-explain-our-study">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
            ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet,
            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
            </span>
        </div>
    </div>

</div>