@import "~swiper/css";
@import "~swiper/css/pagination";

.swiper .swiper-pagination {
  display: none !important;
}

.titleCarousel {
  font-size: 1.2rem;
  font-weight: bold;
}

.heigthCards {
  height: 30vh;
}

.swiper {
  width: 100%;
  height: 100%;
}

.imageVideo {
  height: 8rem;
  width: 8rem;
}

.textVideo {
  font-size: .8rem;
}

::ng-deep .p-inputtext {
  width: 100%;
}

#start-component {
  padding: 16px 0 16px 0 !important;
}

.input-search {
  width: 85% !important;
}

.text-about {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: #005289;
}

.text-about-explain {
  margin-top: 1rem;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #7D7D7D;
}

.start-picture {
  width: 100%;
  margin-top: 1rem;
  box-shadow: none;
}

.content-our-study{
  background-color: #005289;
}

.text-title-our-study {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: white;
}

.text-explain-our-study {
  margin-top: 1rem;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: white;
}