<div class="col-12">
    <p-card title="Dados pessoais" data-message="Dados pessoais">
        <div class="col-12 inline-flex">
            <div class="col-2">
                <i class="pi pi-user iconMenu"></i>
            </div>
            <div class="col-10">
                <span class="textMenu">Dados pessoais</span>
            </div>
        </div>
        <p-divider type="dashed">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>Usuário</b>
            </div>
        </p-divider>

        <div class="col-12 mb-2">
            <span class="p-float-label col-12">
                <input type="text" id="name" class="w-full" pInputText>
                <label for="name">Nome</label>
            </span>
        </div>
        <div class="col-12 mb-2">
            <span class="p-float-label col-12">
                <p-inputMask id="phone" mask="+55 (99) 9999-9999"></p-inputMask>
                <label for="phone">Telefone</label>
            </span>
        </div>
        <div class="col-12 mb-2">
            <span class="p-float-label col-12">
                <input type="email" id="email" class="w-full" pInputText>
                <label for="email">E-mail</label>
            </span>
        </div>
        <div class="col-12 mb-2">
            <span class="p-float-label col-12">
                <p-inputMask id="birth" mask="99/99/9999" class="w-full" slotChar="dd/mm/aaaa"></p-inputMask>
                <label for="birth">Data de nascimento</label>
            </span>
        </div>
        <p-divider type="dashed">
            <div class="inline-flex align-items-center">
                <i class="pi pi-home mr-2"></i>
                <b>Endereço</b>
            </div>
        </p-divider>
        <div class="col-12 mb-2">
            <span class="p-float-label col-12">
                <input type="text" id="complement" class="w-full" pInputText>
                <label for="complement">Logradouro</label>
            </span>
        </div>
        <div class="col-12 mb-2">
            <span class="p-float-label col-12">
                <input type="number" id="street" class="w-full" s pInputText>
                <label for="street">CEP</label>
            </span>
        </div>
        <div class="col-12 mb-2">
            <span class="p-float-label col-12">
                <input type="number" id="numberHome" class="w-full" pInputText>
                <label for="numberHome">Número</label>
            </span>
        </div>
        <p-divider type="dashed">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user-plus mr-2"></i>
                <b>Responsável</b>
            </div>
        </p-divider>
        <div class="col-12 mb-2">
            <span class="p-float-label col-12">
                <input type="text" id="name-father" class="w-full" pInputText>
                <label for="name-father">Nome</label>
            </span>
        </div>
        <div class="col-12 mb-2">
            <span class="p-float-label col-12">
                <p-inputMask id="phone-father" mask="+55 (99) 9999-9999"></p-inputMask>
                <label for="phone-father">Telefone</label>
            </span>
        </div>
        <div class="col-12 mb-2">
            <span class="p-float-label col-12">
                <input type="email" id="email-father" class="w-full" pInputText>
                <label for="email-father">E-mail</label>
            </span>
        </div>
        <div class="col-12 mb-2">
            <span class="p-float-label col-12">
                <input type="number" id="cpf" class="w-full" pInputText>
                <label for="cpf">CPF</label>
            </span>
        </div>
        <div class="col-12 mb-2">
            <span class="p-float-label col-12">
                <input type="number" id="rg" class="w-full" pInputText>
                <label for="rg">RG</label>
            </span>
        </div>
        <div class="col-12 mb-2 inline-flex justify-content-around align-items-center ">
            <span>Possui nescessidades especiais?</span>
            <p-inputSwitch [(ngModel)]="special"></p-inputSwitch>
        </div>
        <div *ngIf="special" class="col-12 mb-2">
            <span class="p-float-label col-12">
                <input type="text" id="description-speacial" class="w-full" pInputText>
                <label for="description-speacial">Qual?</label>
            </span>
        </div>
        <div class="col-12 mb-4">
            <div class="col-12 md:col-4">
                <button pButton pRipple type="button" label="Salvar" class="p-button-success w-full"></button>
            </div>
        </div>
    </p-card>
</div>