::ng-deep .p-inputmask {
  width: 100%;
}

::ng-deep .p-inputnumber {
  width: 100%;
}

::ng-deep .p-multiselect {
  width: 100%;
}

.iconMenu {
  font-size: 2rem;
  color: #2D9CDB;
  font-weight: bold;
}

.textMenu {
  font-size: 2rem;
  color: black;
}
