<div id="watch-component">
    <div *ngIf="loading" class="mt-4 col-12">
        <p-skeleton width="100%" height="35rem" borderRadius="16px"></p-skeleton>
    </div>
    <div *ngIf="!loading">
        <div class="col-12 p-0 flex justify-content-center">
            <span class="p-input-icon-right w-full input-search">
                <i class="pi pi-search"></i>
                <input type="text" placeholder="O que você esta procurando?" pInputText>
            </span>
        </div>
        <div class="col-12 p-0 mt-4 pl-3 pr-3 flex flex-column">
            <span class="text-about">Minha</span>
            <span class="text-about">Aula</span>
            <span class="text-about-explain">A Estudai, visa agregar e inovar o ensino a distância,
                permitindo fácil acesso à informação e engajamento entre o corpo discente e docente.</span>
        </div>

        <div class="col-12 p-0">
            <img src="assets/layout/images/hackathon/start-picture.PNG" class="start-picture">
        </div>

        <div class="col-12 mt-2">
            <span class="titleCarousel">Minhas matérias</span>
            <p-divider></p-divider>
        </div>
        <div class="cards-material">
            <p-card>
                <div class="tumb"></div>
                <h5>Português</h5>
                <p>Version • Description</p>
            </p-card>
        </div>
        <div class="col-12 mt-2">
            <span class="titleCarousel">Meus deveres de casa</span>
            <p-divider></p-divider>
        </div>
        <div class="cards-material">
            <p-card>
                <div class="tumb"></div>
                <h5>Português</h5>
                <p>Version • Description</p>
            </p-card>
        </div>
        <div class="col-12 mt-2">
            <span class="titleCarousel">Recentes</span>
            <p-divider></p-divider>
        </div>
        <div class="cards-material">
            <p-card>
                <div class="tumb"></div>
                <h5>Português</h5>
                <p>Version • Description</p>
            </p-card>
        </div>
    </div>

</div>