<div class="col-12">
    <p-card title="Histórico" data-message="Histórico">
        <div class="col-12 inline-flex">
            <div class="col-2">
                <i class="pi pi-history iconMenu"></i>
            </div>
            <div class="col-10">
                <span class="textMenu">Arquivos salvos</span>
            </div>
        </div>
        <div class="col-12 inline-flex">
            <div class="col-4">
                <img src="assets/layout/images/dofus/dofus-zaap.jpg" class="logoVideo"/>
            </div>
            <div class="col-8">
                <div class="col-12">
                         <span>
                        <strong>Titulo do vídeo</strong>
                    </span>
                </div>
                <div class="col-12">
                    <span class="description">Descrição do vídeo</span>
                </div>
            </div>
        </div>
        <div class="col-12 inline-flex">
            <div class="col-4">
                <img src="assets/layout/images/dofus/dofus-zaap.jpg" class="logoVideo"/>
            </div>
            <div class="col-8">
                <div class="col-12">
                         <span>
                        <strong>Titulo do vídeo</strong>
                    </span>
                </div>
                <div class="col-12">
                    <span class="description">Descrição do vídeo</span>
                </div>
            </div>
        </div>
        <div class="col-12 inline-flex">
            <div class="col-4">
                <img src="assets/layout/images/dofus/dofus-zaap.jpg" class="logoVideo"/>
            </div>
            <div class="col-8">
                <div class="col-12">
                         <span>
                        <strong>Titulo do vídeo</strong>
                    </span>
                </div>
                <div class="col-12">
                    <span class="description">Descrição do vídeo</span>
                </div>
            </div>
        </div>
    </p-card>
</div>
