<div class="surface-0 flex align-items-center justify-content-center min-h-screen colorBackground min-w-screen overflow-hidden">
    <div class="grid justify-content-center" style="min-width:80%">
        <div class="col-12 xl:col-6" style="border-radius:56px; padding:0.3rem; background-color: white ; ">
            <div class="h-full w-full m-0">
                <div class="w-full md:w-10 mx-auto">
                    <div class="text-center inline-flex w-full justify-content-center align-items-center mt-3">
                       <span class="microsoft-text">Microsoft </span> <img src="assets/layout/images/hackathon/microsoft_play.PNG" class="logo">
                    </div>
                    <div class="field col-12 pl-0 pr-0 mt-6">
                        <span class="p-float-label">
                            <input type="text" id="email" pInputText class="inputs">
                            <label for="email" class="textInputs">E-mail</label>
                        </span>
                    </div>
                    <div class="field col-12 pl-0 pr-0">
                        <span class="p-float-label">
                            <input type="text" id="password" pInputText class="inputs">
                            <label for="password" class="textInputs">Senha</label>
                        </span>
                    </div>
                    <button pButton pRipple (click)="login()" label="Entrar"
                            class="w-full p-3 text-xl buttonSingin"></button>
                    <div class="text-center col-12">
                        <span class="colorSingUp cursor-pointer"><strong>Criar conta</strong></span>
                    </div>
                    <div class="text-center col-12 mt-4">
                        <span><strong>ou acessar com</strong></span>
                    </div>
                    <div class="text-center col-12 mt-4">
                        <span class="colorSingUp cursor-pointer"><strong>Acessar por alguma instituição</strong></span>
                    </div>

                    <div class="col-12 inline-flex justify-content-center">
                        <div class="md:col-6 col-10 inline-flex">
                            <div class="col-4 cursor-pointer">
                                <img src="assets/layout/images/hackathon/gmail.svg">
                            </div>
                            <div class="col-4 cursor-pointer">
                                <img src="assets/layout/images/hackathon/facebook.svg">
                            </div>
                            <div class="col-4 cursor-pointer">
                                <img src="assets/layout/images/hackathon/apple.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
