.imageIcon {
    height: 3rem;
    color: #2D9CDB;
}

.textMenu {
    font-size: 2rem;
    color: #2D9CDB;
}

.list-steps-onboarding {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.imageIconFirst{
    height: 5rem;
}

.textFirst{
  font-size: 1.5rem;
    font-weight: bold;
}
