<div class="col-12 mt-2 inline-flex">
    <div class="col-3">
        <img src="assets/layout/images/hackathon/icons/user.svg" class="imageIconFirst">
    </div>
    <div class="col-9">
        <div class="col-12">
            <span class="textFirst">Henrique Siqueira</span>
        </div>
        <div class="col-12">
            <span>Aluno</span>
        </div>
    </div>
</div>

<div class="list-steps-onboarding formgrid grid mt-4 col-12">
    <div class="col-6 md:col-4 mb-4">
        <p-card title="Incio" data-message="Início" routerLink="/start">
            <div class="col-12 text-center">
                <img src="assets/layout/images/hackathon/icons/house.svg" class="imageIcon">
            </div>
            <div class="col-12 text-center">
                <span class="textMenu">Início</span>
            </div>
        </p-card>
    </div>
    <div class="col-6 md:col-4 mb-4">
        <p-card routerLink="/watch" title="Assistir aula" data-message="Assistir aula">
            <div class="col-12 text-center">
                <img src="assets/layout/images/hackathon/icons/video.svg" class="imageIcon">
            </div>
            <div class="col-12 text-center">
                <span class="textMenu">Ver aulas</span>
            </div>
        </p-card>
    </div>


    <div class="col-6 md:col-4 mb-4">
        <p-card routerLink="/profile" title="Perfil" data-message="Perfil">
            <div class="col-12 text-center">
                <img src="assets/layout/images/hackathon/icons/user.svg" class="imageIcon">
            </div>
            <div class="col-12 text-center">
                <span class="textMenu">Perfil</span>
            </div>
        </p-card>
    </div>
    <div class="col-6 md:col-4 mb-4">
        <p-card title="Histórico" data-message="Salvos" routerLink="/saved">
            <div class="col-12 text-center">
                <img src="assets/layout/images/hackathon/icons/house.svg" class="imageIcon">
            </div>
            <div class="col-12 text-center">
                <span class="textMenu">Salvos</span>
            </div>
        </p-card>
    </div>
    <div class="col-6 md:col-4 mb-4">
        <p-card title="Histórico" data-message="Histórico" routerLink="/history">
            <div class="col-12 text-center">
                <img src="assets/layout/images/hackathon/icons/clock.svg" class="imageIcon">
            </div>
            <div class="col-12 text-center">
                <span class="textMenu">Histórico</span>
            </div>
        </p-card>
    </div>
    <div class="col-6 md:col-4 mb-4">
        <p-card title="Arquivos" data-message="Arquivos" routerLink="/files">
            <div class="col-12 text-center">
                <img src="assets/layout/images/hackathon/icons/download.svg" class="imageIcon">
            </div>
            <div class="col-12 text-center">
                <span class="textMenu">Arquivos</span>
            </div>
        </p-card>
    </div>
</div>
